@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --ired: #ff3040;
}
::backdrop{
    all: unset;
}
:fullscreen::backdrop{
    all: unset;
}

@font-face {
    font-family: insFont;
    src: url(./fonts/ins.otf);
}
.insFont{
    font-family: insFont;
}
*{
    box-sizing: border-box;
}